body {
    margin: 1vh;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

/* Positioning */
nav button {
    height: 1.6em;
    margin-bottom: 1vh;
}

#gamecontent {
    max-height: 93.5vh;
    display: flex;
}
textarea#comment {
    /* 1px*2 border (default) 2px*2 padding */
    width: calc(100% - 6px);
    height: calc(100% - 6px - 1.7em);
    resize: none;
    padding: 2px;
}
@media (max-width: 800px) {
    #gamecontent {
        flex-direction: column-reverse;
    }
    textarea#comment {
        height: 7em;
    }
}

#chatbox {
    overflow-y: scroll;
    border: 2px solid black;
}

#notes {
    border: 1px dotted gray;
    min-width: 20%;
    min-height: 20vh;
}

/* Color theme */
#chatbox.dark {
    color: white;
    background-color: rgb(41, 41, 41);
}

#chatbox.light {
    color: black;
    background-color: white;
}

#chatbox .chat.highlight {
    background-color: yellow;
    color: black;
}

/* Chat styles taken from PS! */
.chat {
    vertical-align: middle;
    padding: 3px 0px;
}

.chat em {
    padding: 0 4px 0 3px;
    font-style: normal;
    font-size: 12pt;
}

.chat strong {
    font-size: 12pt;
}

.chat small {
    color: #888
}

